<footer class="container-fluid border-top border-info fixed-bottom">
        <p class="text-center mt-3 mb-3 " style="font-size: 18px; font-weight: 550px; color: #3c88b5; font-family: Roboto;">© Copyright 2019 Divine Express Transportation Company</p>
</footer>