<nav class="navbar navbar-expand-lg navbar-light d-flex white sticky-top border-bottom border-light " >
    <div class="container ">
        <div class=" mr-3">
        <a class="navbar-brand nav-cont my-1">

            <img src="" alt="">
        </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <div class="navbar-nav mr-auto my-0 form-input" >

            </div>

            <ul class="navbar-nav navlink nav-flex-icons my-0">
              <li class="nav-item">
                <a href="#" class="nav-link mr-4 mt-3 m-3" style="color: #3c88b5; font-size: 21px; font-weight:600; font-family: Roboto;"
                  >HOME</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link navlink mr-4 mt-3 mb-3 "  style="color: #3c88b5; font-size: 21px; font-weight:600; font-family:Roboto;" >BOOK TRIP</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link navlink mr-4 mt-3 mb-3 "  style="color: #3c88b5; font-size: 21px; font-weight:600; font-family:Roboto;" >TERMINALS</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link navlink mr-4 mt-3 mb-3"  style="color: #3c88b5; font-size: 20px; font-weight:600; font-family: Roboto;">ABOUT</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link navlink mr-4 mt-3 mb-3"  style="color: #3c88b5; font-size: 20px; font-weight:600; font-family: Roboto;">CONTACT</a>
              </li>
            </ul>

        </div>
    </div>

</nav>